
:root {
    --border-radius: 6px;
    --font-size-1: 17px;
    --font-size-2: 23px;
    --font-size-3: 20px;
    --font-size-4: 17px;
    --font-size-5: 36px;
    --h1-font-size: 32px;
    --h1-font-weight: bold;
    --h2-font-size: 32px;
    --background-color: #F6F7FB;
    --primary-color: #002545;
    --secondary-color: #B11515;
    --grey-1: #E6E6E6;
    --dash-color: #3E3E3E;
    --grey-2: #6C6C6C;
    --stroke-color: #e5e4e4;
    --dark-text-color: #4A2A2A;
    --dark-primary: #910101;
    --atchoum-color: #FFFEFE;
    --placeholder-color: #B0B0B0;
    --tertiary-color: #DCB990;
    --text-color: #9184B4;
    --inputStroke: #BAB6D2;
    --dark-text-blue: #15184D;
}

@media only screen and (max-device-width: 990px) {

    :root {
        --font-size-1: 17px;
        --font-size-2: 1em;
        --font-size-3: 2em;
        --font-size-4: 28px;
        --font-size-5: 36px;
        --h1-font-size: 32px;
        --h1-font-weight: bold;
        --h2-font-size: 32px;
        --h2-font-weight: bold;

    }
}

@media only screen and (max-device-width: 500px) {

    :root {
        --font-size-1: 67px;
        --font-size-2: 54px;
        --font-size-3: 47px;
        --font-size-4: 28px;
        --font-size-5: 36px;
        --h1-font-size: 2em;
        --h1-font-weight: bold;
        --h2-font-size: 32px;
        --h2-font-weight: bold;

    }
}

body {
    z-index: -2;
    position: relative;
    font-size: var(--font-size-4);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif !important;
    color: var(--dash-color);
    background-color: var(--background-color);
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

h1 {
    font-size: var(--font-size-1);
    font-weight: var(--h1-font-weight);
    color: var(--text-color);
}

h2 {
    font-size: var(--font-size-2);
    font-weight: 600;
    color: var(--dark-text-color);
    margin: 0;
}

h3 {
    font-size: var(--font-size-3);
    color: var(--text-color);
    font-style: italic;
    font-weight: bold;
}
.form-control{
    line-height: normal !important;

    font-size: var(--font-size-4) !important;
}

.uppercase {
    text-transform: uppercase;
}

button {
    border: 0;
    background: transparent;
}

a {
    color: var(--dark-text-color);
}


.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.grey-1 {
    color: var(--grey-1);
}

.dash {
    color: var(--dash-color);
}

.grey-2 {
    color: var(--grey-2);
}

.stroke {
    color: var(--stroke-color);
}

.dark-text {
    color: var(--dark-text-color);
}

.atchoum {
    color: var(--atchoum-color);
}

.border-radius {
    border-radius: var(--border-radius);
}

.font-size-1 {
    font-size: var(--font-size-1);
}

.font-size-2 {
    font-size: var(--font-size-2);
}

.font-size-3 {
    font-size: var(--font-size-3);
}

.font-size-4 {
    font-size: var(--font-size-4) !important;
}

.font-size-5 {
    font-size: var(--font-size-5);
}

hr {
    width: 100%;
}

summary {
    list-style: none;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.containerWithBackground {
    background: var(--atchoum-color);
    border: 1px solid var(--stroke-color);
    padding: 30px;

    width: fit-content;
    border-radius: 30px;
}

/* ------ BASIC CLASS --------- */

label, legend {
    font-style: var(--font-size-3);
    color: var(--dash-color);
    font-weight: bold;
}

select {

    font-size: var(--font-size-2);
}

input {
    background: var(--atchoum-color) !important;
    border-radius: 30px !important;
    border: var(--inputStroke) 1px solid !important;
    padding: 10px !important;
    text-align: left;
    font-size: var(--font-size-2);
}

input::placeholder {

    font-size: var(--font-size-2);
    color: var(--placeholder-color) !important;
}

input[type=radio] {
    border-radius: 50% !important;
    margin-top: 0;
}

.button1 {
    text-decoration: none;
    padding: 5px 20px;
        width: 365px;

    background: linear-gradient(86deg, #4E2CBD -7.69%, #5625FA 101.06%);
    color: var(--atchoum-color);
    font-size: var(--font-size-3);
    font-weight: bold;
    border: 0;
    outline: 0;
    border-radius: 30px;
}

.button1:hover {
    background: linear-gradient(86deg, #351994 -7.69%, #35159F 101.06%) !important;


}

.button1 a {
    color: white;
    text-decoration: none;
}

.button2 {
    text-decoration: none;
    padding: 5px 20px;
    background: var(--grey-1);
    color: var(--dark-text-blue) !important;
    font-size: var(--font-size-3);
    font-weight: bold;
    border: 0;
    outline: 0;
    border-radius: 6px;
}

.button2 a {
    color: var(--dark-text-blue);
    text-decoration: none;
}

.w-40 {
    width: 40%;
}

.font-weight-bold {
    font-weight: bold !important;
}

img {
    vertical-align: top !important;
}


.rondBleu, .rondRouge, .rondBleuPlein, .rondRougePlein {
    width: 20px !important;
    height: 20px;
    border-radius: 50%;
    margin-right: 24px;
}

.rondBleu {

    border: 4px solid #5625FA;
}

.rondRouge {

    border: 4px solid #F02828;
}

.rondBleuPlein {
    background: linear-gradient(73deg, #4E2DBD -1.74%, #5625FA 77.6%);


}

.rondRougePlein {
    background: linear-gradient(73deg, #97000C -1.74%, #FF000E 77.21%);
}


/* ------ Toast --------- */
.toastBackground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #46464cd4;
    top: 0%;
    left: 0%;

}

.toast {
    background: var(--atchoum-color);
    width: 50vw;
    height: 20vh;
    position: absolute;
    top: 5%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    display: flex !important;

}

.toast img {
    width: 20px;
    object-fit: contain;
}


@media only screen and (max-device-width: 500px) {
    input {
        padding: 30px !important;
        line-height: normal
    }
    .rondBleu {

        border: 8px solid #5625FA;
    }

    .rondRouge {

        border: 8px solid #F02828;
    }

    .rondBleu, .rondRouge, .rondBleuPlein, .rondRougePlein {
        width: 50px !important;
        height: 50px;
        border-radius: 50%;
        margin-right: 24px;
    }

}