
#registerPage, #loginPage {

    height: 100vh;
    width: 100vw;

}

#registerPage img, #loginPage img {
    height: 20vh;
}

#registerPage form, #loginPage form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registerPage form div, #loginPage form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#registerPage form input, #loginPage form input {
    width: 100%;
    text-align: center !important;
}

#registerPage a, #loginPage a, #otherPage a {
    color: var(--dark-text-blue) !important;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

#otherPage a {
    text-decoration: none !important;
}

#loginPage form .checkbox {
    flex-direction: row !important;
    justify-content: center;
}

#loginPage form .checkbox input {
    width: 5%;
}

@media only screen and (max-device-width: 500px) {

    #registerPage form, #loginPage form {
        width: 93%;
    }


    input {

        line-height: normal
    }

    #registerPage a, #loginPage a, #otherPage a {
        font-size: var(--font-size-3);
    }
}

