<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="<svg width="127" height="135" viewBox="0 0 127 135" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M69.2683 36.7828L61.7669 42.7982C55.99 47.4307 49.1046 50.476 41.7907 51.6334C26.6819 54.0242 14.0178 64.3383 8.61796 78.6504L5.78527 86.1584C2.71152 94.3053 7.46478 103.304 15.9266 105.358L21.4293 106.694C34.1069 109.771 46.8523 101.886 49.7586 89.1678C52.6246 76.6258 65.0786 68.7503 77.6383 71.5376L81.7768 72.456C93.5361 75.0657 105.633 69.7664 111.687 59.3529L115.14 53.4127C120.829 43.6278 115.148 31.1564 104.032 29.0255L102.055 28.6464C90.4616 26.424 78.4772 29.3982 69.2683 36.7828Z" fill="#9184B4" style="fill:#9184B4;fill:color(display-p3 0.5674 0.5193 0.7042);fill-opacity:1;"/>
    <path d="M105.938 29.5L108.272 30.3976C110.96 31.4312 113.186 33.3966 114.545 35.9352L115.953 38.5663C116.004 38.6619 116.031 38.7686 116.031 38.877V38.877C116.031 39.4474 115.355 39.7479 114.931 39.3659L105.332 30.7075C104.803 30.2305 105.24 29.3603 105.938 29.5V29.5Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M57.0986 73.5713C58.2131 72.4905 60.0532 72.7828 60.778 74.1557V74.1557L59.2477 75.2269C56.9523 76.8337 54.956 78.83 53.3492 81.1254L52.5332 82.2912C52.3866 82.5006 52.1086 82.5711 51.88 82.4567V82.4567C50.6086 81.821 50.3459 80.12 51.3664 79.1304L57.0986 73.5713Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="87.6631" y="45.5801" width="16" height="14" rx="4" transform="rotate(45.8785 87.6631 45.5801)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M31.5078 100.151C32.4773 99.1432 33.9535 98.8089 35.2626 99.3008V99.3008C38.5351 100.53 38.183 105.269 34.7648 106.002L32.4385 106.5L27.2416 107.15C26.3065 107.267 25.7435 106.143 26.3969 105.464L31.5078 100.151Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="101.303" y="32.3525" width="16" height="14" rx="4" transform="rotate(45.8785 101.303 32.3525)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M43.5255 88.3851C45.1029 86.8553 47.7173 87.3335 48.6512 89.3226V89.3226C49.1383 90.3602 49.0334 91.5792 48.376 92.5184L45.0589 97.2571C43.7026 99.1947 40.9136 99.4093 39.2768 97.7021V97.7021C37.8485 96.2124 37.8915 93.8488 39.3731 92.4121L43.5255 88.3851Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M71.1525 61.5923C72.7383 60.0544 75.2707 60.0932 76.8087 61.6791L82.4742 67.5211C83.6034 68.6855 82.9497 70.6392 81.3471 70.8895L78.8298 71.2827C77.9062 71.427 76.9679 71.4529 76.0377 71.3599L73.6327 71.1194C72.8387 71.04 72.0387 71.04 71.2446 71.1194L67.4387 71.5L67.3292 71.4069C65.5306 69.8777 65.4407 67.1316 67.1355 65.488L71.1525 61.5923Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M37.6011 52.5353C38.4588 52.1922 39.4164 52.1962 40.2712 52.5465V52.5465C41.2206 52.9355 41.4589 54.1707 40.7224 54.8849L33.6861 61.7087C32.8865 62.4841 31.6077 62.457 30.8417 61.6484L28.4641 59.1384C27.4926 58.1128 27.8618 56.4306 29.1734 55.906L37.6011 52.5353Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M8.77877 78.6493C9.53402 76.7611 12.0237 76.3488 13.3474 77.8926V77.8926C14.2786 78.9787 14.204 80.602 13.1769 81.598L8.74819 85.8929C7.7198 86.8903 6.03621 85.8749 6.43848 84.5V84.5L8.77877 78.6493Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M99.6865 63.1736C101.161 61.7438 103.478 61.6628 105.049 62.9862L106.539 64.2417C107.01 64.639 107.013 65.3643 106.545 65.7656L104.876 67.196C104.252 67.7307 103.579 68.2051 102.866 68.6127L101.017 69.6692C100.632 69.8894 100.231 70.0808 99.8173 70.2418L95.2135 72.0343C95.0407 72.1016 94.846 72.0821 94.69 71.9818V71.9818C93.4342 71.1745 93.258 69.4078 94.3298 68.3685L99.6865 63.1736Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M19.046 62.8746C20.5918 61.0711 23.3595 61.0042 24.9907 62.7308L25.9329 63.7282C27.436 65.3192 27.3812 67.8228 25.81 69.3466L21.5887 73.4403C19.9555 75.0242 17.3319 74.9288 15.8181 73.2305L15.2651 72.6101C13.9326 71.1153 13.9108 68.8656 15.214 67.3453L19.046 62.8746Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M113.98 49.3113C114.802 48.5142 116.181 48.9668 116.371 50.0959V50.0959C116.415 50.3598 116.384 50.6308 116.281 50.8778L115.434 52.9106C114.44 55.2951 113.171 57.5552 111.651 59.6444V59.6444C110.78 60.8423 109.016 60.9053 108.062 59.7726L107.589 59.2112C106.622 58.0639 106.707 56.3643 107.784 55.3199L113.98 49.3113Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="45.7646" y="56.96" width="16" height="14" rx="4" transform="rotate(45.8785 45.7646 56.96)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M72.6992 34.3044C74.3384 33.1911 76.5457 33.4458 77.8883 34.9032L81.6539 38.9905C83.1237 40.5858 83.054 43.062 81.4968 44.5722L77.1477 48.7899C75.5499 50.3395 72.9945 50.2867 71.462 48.6725L65.57 42.4661C64.7565 41.6093 64.8592 40.2378 65.7911 39.5115L70.9387 35.5L72.6992 34.3044Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="18.4858" y="83.415" width="16" height="14" rx="4" transform="rotate(45.8785 18.4858 83.415)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <path d="M83.7487 29.2913C85.5382 28.7649 87.373 28.4066 89.2291 28.221L91.7597 27.968C93.5146 27.7925 94.6211 29.8093 93.5302 31.1951L90.2102 35.4127C88.8579 37.1306 86.3768 37.4445 84.6393 36.1175L81.0745 33.3949C79.7728 32.4008 80.1527 30.349 81.7241 29.8868L83.7487 29.2913Z" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="32.125" y="70.1875" width="16" height="14" rx="4" transform="rotate(45.8785 32.125 70.1875)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="59.4043" y="43.7324" width="16" height="14" rx="4" transform="rotate(45.8785 59.4043 43.7324)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="45.7646" y="56.96" width="16" height="14" rx="4" transform="rotate(45.8785 45.7646 56.96)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="18.4858" y="83.415" width="16" height="14" rx="4" transform="rotate(45.8785 18.4858 83.415)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="32.125" y="70.1875" width="16" height="14" rx="4" transform="rotate(45.8785 32.125 70.1875)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    <rect x="59.4043" y="43.7324" width="16" height="14" rx="4" transform="rotate(45.8785 59.4043 43.7324)" fill="#656799" style="fill:#656799;fill:color(display-p3 0.3950 0.4032 0.6000);fill-opacity:1;"/>
    </svg>
    ">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js"></script>

        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}


</body>
</html>
