{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    {% include 'component/desktop/header.html.twig'  with {'path':path('app_other'),'title':"Pay Methods"} %}
    <div class=" centered " id="paymentContainer">


        <div class="d-flex flex-lg-row flex-column justify-content-between align-items-start" id="formPage">
            <div class="p-5 leftPanel">
                <h2>Add pay method</h2>

                {{ form_start(form) }}
                {{ form_row(form.name,{'label':'Bank card name'}) }}
                <button type="submit" class="button1">Save</button>
                {{ form_end(form) }}
            </div>
            <div class="rightPanel">
               {% include 'component/desktop/payments.html.twig' with {'cards':cards,'wallets':wallets} %}
            </div>
        </div>


    </div>
    <script defer>

        let cashForm = document.querySelector('#popupFormCash')
        let cardForm = document.querySelector('#popupFormCard')
        closeAll()

        function closeAll() {
            cardForm.classList.add('d-none')
            cashForm.classList.add('d-none')
        }


        function openCardForm() {
            closeAll()
            cardForm.classList.remove('d-none')
            cardForm.classList.add('d-flex')
        }

        function openCashForm() {
            closeAll()
            cashForm.classList.remove('d-none')
            cashForm.classList.add('d-flex')
        }

    </script>

{% endblock %}
